# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor directories
.idea/
.vscode/

# Submodules
lbmstl-core/
lbmstl-caps/
lbmstl-centerlines/
lbmstl-voxel/

# Jupyter checkpoints
.ipynb_checkpoints/
